 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/LOGO-2.png");
  background-position: 50% 50%;
  min-height: 980px;
}

.u-section-1 .u-image-1 {
  height: 328px;
  width: 1293px;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + -97px);
}

.u-section-1 .u-image-2 {
  height: 541px;
  width: 923px;
  margin: -188px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -118px calc(((100% - 1140px) / 2) + 181px) 0 calc(((100% - 1140px) / 2) + 210px);
}

.u-section-1 .u-icon-1 {
  width: 186px;
  height: 73px;
  margin: 33px auto 0 257px;
}

.u-section-1 .u-icon-2 {
  width: 166px;
  height: 73px;
  margin: -73px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 155px;
  height: 73px;
  margin: -73px auto 0 840px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 530px;
  margin: 41px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 719px;
  }

  .u-section-1 .u-image-1 {
    height: 239px;
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -99px;
  }

  .u-section-1 .u-text-1 {
    width: 749px;
    margin-left: calc(((100% - 940px) / 2) + 110px);
    margin-right: calc(((100% - 940px) / 2) + 81px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: 225px;
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 405px;
    padding: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 660px;
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 422px;
    width: 720px;
    margin-top: -43px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: -357px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: 166px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 296px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 499px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    height: 137px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 317px;
    width: 540px;
    margin-top: 3px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 207px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 368px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 225px;
  }

  .u-section-1 .u-image-1 {
    height: 86px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: 64px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 108px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/LOGO-2.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 669px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 30px;
  height: auto;
  min-height: 601px;
  margin-top: 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1029px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1026px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }
}